*{
    margin: 0;
    padding: 0;

}
h1{
    background-color: #6C6666;
    color: #F9F6F6;
    text-align: center;
    margin-bottom: 0;
    padding: 15px 0;
}


/* Side bar on html */
.side{
    padding: 3% 3%;
    background-color: #e4e4e4;
    height: 900px;
}
.col-10{

    width: 100%; 
}
#previous-opt button{
    width: 100%;
    margin-top: 15px;
    height: 30px;
}
/* Main Portion top*/
.main-top{
    margin: 15px 15px;

    border: .5px solid #494646;
}


.main-top ul{
    height: 300px;
    margin: 50px 50px 50px 50px;
    padding: 20px 20px;
    list-style: none;


}

/* Main Portion bottom  */
.main-bottom h3{
    width: 100%;
    padding-left: 20px;


}

#weather-ajax{
    border: .5px solid #494646;
    margin-left: 20px;
    padding: 2.5% 2.5%;
    border: none;
    width: 100%;
}

.yourClass{
    background-color: #7079F6;    
    color: #FFFFFF;
    margin: 1% 1%;
    padding: 3% 1%;
}

